In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('C:/Users/TANISHKA DODIYA/Desktop/SEMESTER 7/ML/bank.csv')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.0+ MB

In [4]:
df['job'].value_counts()

management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: job, dtype: int64

In [5]:
df['marital'].value_counts()

married     6351
single      3518
divorced    1293
Name: marital, dtype: int64

In [6]:
df['education'].value_counts()

secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: education, dtype: int64

In [7]:
df['default'].value_counts()

no     10994
yes      168
Name: default, dtype: int64

In [8]:
df['housing'].value_counts()

no     5881
yes    5281
Name: housing, dtype: int64

In [9]:
df['loan'].value_counts()

no     9702
yes    1460
Name: loan, dtype: int64

In [10]:
df['contact'].value_counts()

cellular     8042
unknown      2346
telephone     774
Name: contact, dtype: int64

In [11]:
##difficult to form decision tree as it have many values
df['month'].value_counts()

may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: month, dtype: int64

In [12]:
df['poutcome'].value_counts()

unknown    8326
failure    1228
success    1071
other       537
Name: poutcome, dtype: int64

In [13]:
df['deposit'].value_counts()

no     5873
yes    5289
Name: deposit, dtype: int64

In [14]:
convert={"marital":{"married":0,"single":1,"divorced":2},
         "education":{"secondary":0,"tertiary":1,"primary":2,"unknown":3},
         "default":{"no":0,"yes":1},
         "housing":{"no":0,"yes":1},
         "loan":{"no":0,"yes":1},
         "contact":{"cellular":0,"unknown":1,"telephone":2},
         "poutcome":{"unknown":0,"failure":1,"success":2,"other":3}}

In [15]:
df = df.replace(convert)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,0,0,0,2343,1,0,1,5,may,1042,1,-1,0,0,yes
1,56,admin.,0,0,0,45,0,0,1,5,may,1467,1,-1,0,0,yes
2,41,technician,0,0,0,1270,1,0,1,5,may,1389,1,-1,0,0,yes
3,55,services,0,0,0,2476,1,0,1,5,may,579,1,-1,0,0,yes
4,54,admin.,0,1,0,184,0,0,1,5,may,673,2,-1,0,0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,1,2,0,1,1,0,0,20,apr,257,1,-1,0,0,no
11158,39,services,0,0,0,733,0,0,1,16,jun,83,4,-1,0,0,no
11159,32,technician,1,0,0,29,0,0,0,19,aug,156,2,-1,0,0,no
11160,43,technician,0,0,0,0,0,1,0,8,may,9,2,172,5,1,no
11161,34,technician,0,0,0,0,0,0,0,9,jul,628,1,-1,0,0,no

In [16]:
x=['marital','education','default','housing','loan','contact','poutcome']
y=['yes','no']
all_inputs=df[x]
all_class=df['deposit']

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(all_inputs,all_class,test_size=0.3,random_state=10)
##before random state accuracy was 0.646760226933413
##after random state 10 accuracy was 0.6691549716333234

In [18]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [19]:
model.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [20]:
model.predict(x_test)

array(['no', 'yes', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [21]:
model.score(x_test,y_test)

0.6688563750373245

In [22]:
y_pred = model.predict(x_test)

In [23]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1321,  411],
       [ 698,  919]], dtype=int64)

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          no       0.65      0.76      0.70      1732
         yes       0.69      0.57      0.62      1617

    accuracy                           0.67      3349
   macro avg       0.67      0.67      0.66      3349
weighted avg       0.67      0.67      0.67      3349

In [25]:
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image
import pydotplus
import graphviz

In [26]:
dot_data=StringIO()
export_graphviz(model,out_file=dot_data,filled=True,rounded=True,special_characters=True,feature_names=x,class_names=y)
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('bankTreeTrain.png')
Image(graph.create_png())

InvocationException: GraphViz's executables not found